@import '~/assets/styles/reset.scss';
@import '~/assets/styles/base.scss';
@import '~/assets/styles/variables.scss';

.media-card-wrapper {
    display: flex;
    gap: 20rem;
    overflow: hidden;
    padding: 10rem;
    // background: linear-gradient(135deg, rgba(25, 22, 198, 0.8), rgba(9, 232, 72, 0.8));

    .media-card-wrapper__link {
      background: linear-gradient(135deg, rgba(250, 4, 4, 0.8), rgba(18, 1, 255, 0.976));
    }
  
    
    a {
        font-family: 'Gilroy-Bold', Times, serif;
        height: 40vh;
        
        gap: 20rem;
        width: 100%;
        display: flex;
        align-items: center;
        border: 1px solid #ccc;
        padding: 10rem;
        transition: transform 0.3s, box-shadow 0.4s;
        border-radius: 20rem;
        background-color: white;
        color: white;
  
        @media (hover: hover) {
          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
          }
        }
      }
  
      &__icon {
        width: 100%;
        border-radius: 20rem;
        overflow: hidden;
  
        @media (min-width: $tablet-min) {
          width: 100%;
        }
  
        @media (min-width: $laptop-min) {
          width: 40%;
          height: 100%;
        }
  
        img {
          height: 100%;
          object-fit: cover;
        }
      }
  
      &__info {
        &--text {
          font-size: 18rem;
          color: white;
        }
      }
}