.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 10px 0;
}

.dropdown-item {
    padding: 10px 20px;
    cursor: pointer;
    white-space: nowrap;
    color: #333;
    font-size: 14px;
    font-family: 'Gilroy-SemiBold', sans-serif;
    position: relative;
}

.dropdown-item:hover {
    background-color: #333;
    color: white;
}

.nested-dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 10px 0;
}

.sub-nested-dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s ease;
    z-index: 1000;
    padding: 10px 0;
}


