.movies-for-you-images {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
    width: 100%;
    height: auto;
}


.most-popular, .movies-for-you {
    margin-top: 50px;
}
