.all_other_sections {
    background-color: #0A070B;
    display: flex;
     justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.most-popular {
    margin-top: 40px;
    width: 1780px;
    padding-top: 30px;
}

.most-popular-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.most-popular, .movies-for-you {
    margin-top: 50px;
}