

.most-popular {
    
    position: absolute;
    width: 100%;
    padding-left: 40rem;
}

.flex-container {
    display: flex;
    align-items: center; /* Align items vertically center */
}

.most-popular-images {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
}

.most-popular, .movies-for-you {
    margin-top: 50px;
}