@import '@/assets/styles/variables.scss';

.bd-screen {
    text-align: center;

    @media (min-width: $tablet-min) {
        margin-top: 0;
    }

    @media (min-width: $laptop-min) {
                margin-top: 12vh;
    }

    &__welcome {
        &-text {
            font-family: 'Gilroy-Light', Times, serif;
            font-size: 12rem;
            font-weight: 100;
            color: #FFFFFF;
            margin-top: 5rem;
            line-height: 12rem;
            font-weight: 600;
            text-align: center;

            @media (min-width: $tablet-min) {
                line-height: 32rem;
                font-size: 18rem;
            }
        
            @media (min-width: $laptop-min) {
                font-size: 42rem;
                line-height: 32rem;
            }
        }
    }

    &__download {
        margin-top: 8rem;
        padding: 5rem 40rem;

        @media (min-width: $tablet-min) {
            margin-top: 12rem;
        }
    
        @media (min-width: $laptop-min) {
            display: flex;
            justify-content: center;
            margin-top: 80rem;
        }

        &-text {
            font-family: 'Gilroy-Bold', Times, serif;
            font-size: 14rem;
            color: #FFFFFF;
            line-height: 22rem;
            font-weight: 600;
            text-align: center;
            display: block;
            width: 50%;

            @media (min-width: $tablet-min) {
                line-height: 32rem;
                font-size: 24rem;
            }
        
            @media (min-width: $laptop-min) {
                line-height: 72rem;
                font-size: 65rem;
            }
        }
    }

    &__enjoy {
        margin-top: 6rem;
        padding: 5rem 40rem;
        display: none;

        @media (min-width: $tablet-min) {
            display: block;
            margin-top: 12rem;
        }
    
        @media (min-width: $laptop-min) {
            display: block;
            margin-top: 80rem;
        }

        &-text {
            
            font-family: 'Gilroy-Light', Times, serif;
            font-size: 12rem;
            color: #FFFFFF;
            font-weight: 400;
            text-align: center;


            @media (min-width: $tablet-min) {
                font-size: 14rem;
            }
        
            @media (min-width: $laptop-min) {
                font-size: 32rem;
            }
        }
    }
}






