.BDscreens {
    position: absolute;
    left: 170px;
    top: 125px;
}

.welcome-text {
    font-family: 'Gilroy-Light', Times, serif;
    font-size: 24px;
    font-weight: 100;
    color: #FFFFFF;
    margin-top: 5px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
}

.download {
    margin-top:30px;
}

.download-text {
    font-family: 'Gilroy-Light', Times, serif;
    font-size: 65px;
    font-weight: 100;
    color: #FFFFFF;
    line-height: 72px;
    font-weight: 600;
    text-align: center;
}

.enjoy {
    margin-top:30px;
}

.enjoy-text {
    font-family: 'Gilroy-Light', Times, serif;
    font-size: 20px;
    font-weight: 100;
    color: #FFFFFF;
    margin-top: 5px;
    line-height: 32px;
    font-weight: 600;
    text-align: center;
}

.telephone {
    width:500px;
    height: 62px;
    margin-top: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box; 
}

.prompt {
    height: 62px;
    width: 120px;
    background-color: white;
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
    border-radius: 3px;
    font-size: 16px;
    line-height: 22px;
    border-right: 1px solid red;
    box-sizing: border-box; 
}

#telephone {
    height: 62px;
    width: 242px;
    box-sizing: border-box; 
    padding: 0; 
    text-align: center;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.subscribe {
    height: 62px;
    background-color: #F41B3B;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    width: 138px;
 
    box-sizing: border-box; 
}

.sub-span {
    color: #FFFFFF;
  
}