.header-navigation,
.header-searching {
    gap: 40rem;

    &__icon {
        width: 26rem;
        height: 26rem;
    }

    &__title {
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 16rem;
        color: var(--white-text);
        font-weight: 500;
    }
}

.header-navigation {
    &__menu {
        gap: 12rem;
    }

    &__nav {
        gap: 8rem;
    }

    &__nav {
        cursor: pointer;
    }

    &__logo {
        width: 180rem;
        height: 100%;
    }
}

.header-searching {
    cursor: pointer;
}