@import '@/assets/styles/variables.scss';

.header {
    padding: 10rem;

    @media (min-width: $tablet-min) {
        padding: 20rem;
    }

    @media (min-width: $laptop-min) {
        padding: 40rem;
    }
}

.header-navigation,
.header-searching {
    gap: 15rem;

    @media (min-width: $tablet-min) {
        gap: 20rem;
    }

    @media (min-width: $laptop-min) {
        gap: 40rem;
    }

    &__icon {
        width: 14rem;
        height: 14rem;

        @media (min-width: $tablet-min) {
            width: 16rem;
            height: 16rem;
        }

        @media (min-width: $laptop-min) {
            width: 26rem;
            height: 26rem;
        }
    }

    &__title {
        font-family: 'Gilroy-SemiBold', sans-serif;
        font-size: 12rem;
        color: var(--white-text);
        font-weight: 500;

        @media (min-width: $tablet-min) {
            font-size: 12rem;
        }

        @media (min-width: $laptop-min) {
            font-size: 16rem;
        }
    }
}

.header-navigation {
    &__menu {
        gap: 12rem;

        @media (min-width: $tablet-min) {
            gap: 12rem;
        }
    
        @media (min-width: $laptop-min) {
            gap: 15rem;
        }
    }

    &__nav {
        gap: 8rem;
    }

    &__nav {
        cursor: pointer;
    }

    &__logo {
        width: 100rem;
        height: 100%;

        @media (min-width: $tablet-min) {
            width: 120rem;
        }

        @media (min-width: $laptop-min) {
            width: 180rem;
        }
    }
}

.header-searching {
    cursor: pointer;
}