.header-navigation,
.header-searching {
    gap: 40rem;

    &__icon {
        width: 22rem;
        height: 22rem;
    }

    &__title,
    &__sign-up-button {
        font-family: 'Gilroy-Bold', sans-serif;
        font-size: 16rem;
        color: var(--white-text);
        font-weight: 500;
    }
}

.header-navigation {
    &__menu,
    &__nav{
        gap: 15rem;
    }

    &__nav {
        cursor: pointer;
    }
}

.header-searching {
    &__sign-up-button {
        font-family: sans-serif;
        min-width: 100rem;
        height: 42rem;
        background-color: var(--red-background);
        border-radius: 5px;
        font-weight: 600;
        padding: 10px, 24px, 10px, 24px;
        color: (----white-text);
        display: flex;
        justify-content: center;
        align-items: center;
    }
}