@import '~/assets/styles/reset.scss';
@import '~/assets/styles/base.scss';
@import '~/assets/styles/variables.scss';

.search-dropdown {
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 40;
  padding: 30rem;
  background: linear-gradient(135deg, rgba(79, 195, 247, 0.8), rgba(123, 237, 159, 0.8));
  overflow: hidden;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  &__no-results-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
  }

  &__no-results {
    font-size: 36rem;
    color: white;
    text-align: center;
    font-family: 'Gilroy-Bold', Times, serif;
  }

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 36rem;
    position: absolute;
    font-family: 'Gilroy-Bold', Times, serif;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 0;

    .dot {
      animation: blink 1s infinite;
      margin: 0 5rem;
      font-size: 36rem;
    }
  }

  @keyframes blink {
    0%, 20%, 50%, 80%, 100% {
      transform: scale(1);
    }
    40% {
      transform: scale(1.5);
    }
    60% {
      transform: scale(1.3);
    }
  }

  .search-dropdown-wrapper {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20rem;
    max-height: 40vh;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    padding: 10rem;
    margin: 0;

    &::-webkit-scrollbar {
      display: none;
    }

    a {
      font-family: 'Gilroy-Bold', Times, serif;
      height: 100%;
      display: flex;
      gap: 20rem;
      width: 100%;
      align-items: center;
      border: 1px solid #ccc;
      padding: 10rem;
      transition: transform 0.3s, box-shadow 0.4s;
      border-radius: 20rem;
      background-color: rgba(245, 245, 245, 0.9);
      background: linear-gradient(135deg, rgba(255, 140, 187, 0.8), rgba(125, 230, 220, 0.8));

      @media (hover: hover) {
        &:hover {
          transform: translateY(-2px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }

    &__icon {
      width: 100%;
      border-radius: 20rem;
      overflow: hidden;

      @media (min-width: $tablet-min) {
        width: 100%;
      }

      @media (min-width: $laptop-min) {
        min-width: 120rem;
        width: 120rem;
      }

      img {
        height: 100%;
        object-fit: cover;
      }
    }

    &__info {
      &--text {
        font-size: 18rem;
        color: black;
      }
    }
  }

  @media (min-width: $tablet-min) {
    .search-dropdown-wrapper {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  @media (min-width: $laptop-min) {
    .search-dropdown-wrapper {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}



