@import '~/assets/styles/reset.scss';
@import '~/assets/styles/base.scss';
@import '~/assets/styles/variables.scss';

.search-dropdown {
    position: absolute;
    top: 50rem;
    width: 100vh;
    z-index: 40;
    padding: 30rem;
    background-color: rgb(255, 255, 255);
    overflow: hidden;
    border-radius: 4rem;
}

.search-dropdown-wrapper {
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20rem;
    max-height: 40vh;
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
      }

    a {
        font-family: 'Gilroy-Bold', Times, serif;
        height: 100%;
        display: flex;
        gap: 20rem;
        width: 100%;
        align-items: center;
        border: 1px dashed gray;
        padding: 10rem;
        transition: transform 0.3s, box-shadow 0.4s;
        border-radius: 20rem;

        @media (hover: hover) {
            &:hover {
                transform: translateY(-2px);
                box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
            }
        }
    }

    &__icon {
        width: 100%;
        border-radius: 20rem;
        overflow: hidden;
    
        @media (min-width: $tablet-min) {
          width: 100%;
        }
    
        @media (min-width: $laptop-min) {
            min-width: 120rem;
            width: 120rem;
        }
    
        img {
          height: 100%;
          object-fit: cover;
        }
    }

    &__info {

        &--text {
            font-size: 18rem;
            color: black;
        }
    }

   
}