@import '@/assets/styles/reset.scss';
@import '@/assets/styles/base.scss';
@import '@/assets/styles/variables.scss';

.liveshow {
    padding: 0 20rem;
    width: 100%;
    gap: 20rem;
    margin-bottom: 60rem;

    &__header {
        padding: 0 20rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__title {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 30rem;
        justify-content: space-between;

        .full-assortment {
            font-family: 'Gilroy-Light', Times, serif;
            font-size: 16rem;
            color: #FFFFFF;
            line-height: 32rem;
            font-weight: 600;
            text-align: center;
            white-space: nowrap;
        }

        &-text {
            font-family: 'Gilroy-Bold', Times, serif;
            color: #FFFFFF;
            line-height: 32rem;
            font-weight: 600;
            margin-right: auto;
        }
    }

    &__more-options {
        display: flex;
        align-items: center;
        gap: 20rem;
    }

    &__assortment-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20rem;
    }

    &__assortment-card {
        display: flex;
        gap: 20rem;
        width: calc(100%/3 - 20rem);
        border-radius: 20rem;
        background-color: $white;
        overflow: hidden;
        cursor: pointer;
    }
}


.assortment-card {
    display: flex;
    gap: 20rem;

    &__icon {
        width: 220rem;
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10rem;
        
        &-title, &-watches, &-duration {
            font-family: 'Gilroy-SemiBold', Times, serif;
            font-size: 22rem;
        }
    }
}


