@import '@/assets/styles/reset.scss';
@import '@/assets/styles/base.scss';
@import '@/assets/styles/variables.scss';

.liveshow {
    padding: 0 20rem;
    width: 100%;
    gap: 20rem;
    margin-bottom: 60rem;
    padding-bottom: 20rem;
    position: relative;
    &__header {
        padding: 0 20rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    &__arrow-icon {
        max-height: 30rem;
        transform: rotate(90deg);
    }

    &__title {
        display: flex;
        width: 100%;
        align-items: center;
        margin-bottom: 50rem;
        justify-content: space-between;

        .full-assortment {
            font-family: 'Gilroy-Bold', Times, serif;
            font-size: 24rem;
            color: #FFFFFF;
            font-weight: 600;
            text-align: center;
            white-space: nowrap;
        }

        &-text {
            font-family: 'Gilroy-Bold', Times, serif;
            color: #FFFFFF;
            font-size: 42rem;
            font-weight: 600;
            margin-right: auto;
        }
    }

    &__more-options {
        display: flex;
        align-items: center;
        gap: 20rem;
        cursor: pointer;
    }

    &__assortment-list {
        display: flex;
        flex-wrap: wrap;
        gap: 20rem;
    }

    &__assortment-card {
        height: 40vh;
        display: flex;
        gap: 20rem;
        width: calc(100%/3 - 20rem);
        border-radius: 20rem;
        overflow: hidden;
        cursor: pointer;
        background: linear-gradient(135deg, rgba(0, 123, 255, 0.7), rgba(255, 0, 0, 0.7));
        padding: 20rem;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        transition: transform 0.3s, box-shadow 0.3s;

        &:hover {
            opacity: 0.7;
            transform: translateY(-2px);
            box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
    }
}


.assortment-card {
    display: flex;
    gap: 20rem;

    &__icon {
        width: 320rem;
        border-radius: 20rem;
        overflow: hidden;

        img {
            height: 100%;
            object-fit: cover;
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20rem;
        
        &-title, &-watches, &-duration, &-year, &-countries {
            font-family: 'Gilroy-SemiBold', Times, serif;
            font-size: 24rem;
            color: $white;
        }
    }
}

.swiper-horizontal {
    height: 45vh;
}

.swiper-wrapper {
    height: auto;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 300ms opacity;
    transform: translate3d(0, 0, 0);
    z-index: 100;
}

.swiper-pagination-bullet {
    border: 2px solid $bullet-border;
    min-height: 12rem;
    min-width: 12rem;
    opacity: 0.8;
}



