.search-bar {
    display: flex;
    width: inherit;
    height: inherit;
    justify-content: flex-end;
    position: relative;
  }
  
  .search-icon {
    cursor: pointer;
    margin-right: 10px;
  }
  
  .search-input {
    width: 0;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: width 0.3s ease;
    opacity: 0;
    transition: opacity 0.3s ease, width 0.3s ease;
  }
  
  .search-input {
    width: 100%;
    opacity: 1;
    color: white;
    font-family: 'Gilroy-Bold', Times, serif;
  }